

.photo-content {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: #f0f0f0; 
  padding: 60px;
  min-width: 200px;
  max-width: calc(33% - 60px);
  
  
}

.photo-content img {
  width: 100%; 
  height: auto; 
  margin-bottom: 20px; 
}

.healthCare {
  margin-bottom: 20px; 
}

.healthCare a {
  text-decoration: none; 
  color: #e73b75;
  font-size: 18px; 
}

.description {
  width: 80%; 
}

.description p {
  margin: 0; 
}
