.container {
             max-width: 900px;
             margin: 20px auto;
             padding: 0 20px;
             text-align: justify;
 }

.quote {
    font-style: italic;
    margin-bottom: 20px;
    text-align: center;
}