<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/components/listItem/list_item_styles.css">
    <link rel="stylesheet" href="/assets/css/fontstyles.css">
</head>

<body>
    <div class="photo-content">
    <div class="photo-mask">
        <img src="{{image}}"
            alt="">
    </div>

        <div class="healthCare">
            <a href="/listDetails/list_details.html?id={{id}}">{{title}}</a>
        </div>

        <div class="description">
            <p>{{description}}</p>
        </div>
    </div>


</body>

</html>