<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Dietetics_Sport_Nutrition/components/button_navigation_styles.css">

</head>
<body>
    <div class="button-navigation">
    <nav class="routing">
      <div class="row">
        <a href="/Dietetics_Sport_Nutrition/consultingDietetics/consulting_dietetics.html" class="links">Consulting Dietetics</a>
        <a href="/Dietetics_Sport_Nutrition/medicalConditions/medical_conditions.html" class="links">Medical Conditions</a>
        <a href="/Dietetics_Sport_Nutrition/educationCounseling/education_counseling.html" class="links">Education Counseling</a>
      </div>

      <div class="row">
        <a href="/Dietetics_Sport_Nutrition/coachEmotional/coach_emotional.html" class="links">Coach Emotional</a>
        <a href="/Dietetics_Sport_Nutrition/trainingSports/training_sports.html" class="links">Training Sports</a>
        <a href="/Dietetics_Sport_Nutrition/personalizedPlans/personalized_nutrition.html" class="links">Personalized Nutrition Plans</a>
        <a href="/Dietetics_Sport_Nutrition/others/others.html" class="links">Others</a>
      </div>
    </nav>
  </div>
</body>
</html>