<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet"
            href="/assets/css/fontstyles.css">
        <link rel="stylesheet"
            href="/components/footer.css">
    </head>
    <body>

          <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <img class="icon-img" src="/assets/img/diet.png" alt="">
                <span>&copy; 2024 Dietetics & Sport Nutrition</span>
            </div>
            <div class="extra-info">
                <p>"Let food be thy medicine and medicine be thy food." - Hippocrates</p>
                <p>Follow us on social media for the latest news and updates.</p>
            </div>
            <div class="social-links">
                <a href="https://github.com/tu_usuario_github" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-github-square"></i> GitHub
                </a>
                <a href="https://linkedin.com/in/tu_perfil_linkedin" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-linkedin"></i> LinkedIn
                </a>
            </div>
           
        </div>
    </footer>

    </body>
</html>