<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/Dietetics_Sport_Nutrition/components/header_styles.css">
</head>
<body>
    <header>
    <div class="headerContainer">
    <img class="icon" src="/Dietetics_Sport_Nutrition/assets/img/diet.png" alt="">
    <h1 class="subtitle">Dietetics & Sport Nutrition</h1>
    <div class="search">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input class="searchlist" type="text">
    </div>
    <div class="buttons">
      <a class="button-icon" href=""><span id="signup">Iniciar Sesión</span></a>
      <a class="button-icon" href=""><span class="register">Registrarse</span></a>
    </div>
  </div>
 </header>
</body>
</html>
