<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/components/header_styles.css">
</head>
<body>
    <header>
    <div class="headerImage">
      <img class="icon" src="/assets/img/diet.png" alt="">
      <h1 class="subtitleFit">Dietetics & Sport Nutrition</h1>
      <div class="search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input class="searchlist" type="text">
      </div>
      <div class="buttons">
        <a class="button-icon" href="">Iniciar Sesión</a>
        <a class="button-icon" href="">Registrarse</a>
       </div>
    <a class="button-icon" href="/index.html">Inicio</a>
    </div>
 </header>
</body>
</html>
