@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.icon {
    display: flex;
    width: 50px;
    height: auto;
    margin-right: 10px;

}

.container {
    margin: 0;
    padding: 20px 24px;
    display: flex;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 1000;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #888888;
    margin: 0px;
}

.subtitle {
    font-size: 2rem;
    margin: 0;
    text-align: left;
    flex-direction: column;
    align-self: center;
}

.search {
    width: 50%;
    margin-left: 25px;
    display: flex;
    align-items: center;
    border: 2px solid rgb(242, 85, 112);
    border-radius: 25px;
    padding: 10px;
    height: 20px;
}


.searchlist {
    border: none;
    padding: 15px 30px;
    text-align: left;
    height: 10px;
    width: 100%;
    margin-right: 15px;
}

.searchlist:focus {
    outline: none;
}

.routing {
    margin: 25px 0 15px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.links{
    width: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgb(242, 85, 112);
    border-radius: 8px;
    margin: 10px;
    height: 40px;
    align-content: center;
    font-weight: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.routing a:hover {
    background-color: rgb(242, 85, 112);
    color: white;
}

.routing .row {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-icon {
    transition: background-color 0.3s;
    border-radius: 4px;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border: solid 1.5px rgb(242, 85, 112);
    border-radius: 20px;
    margin: 0px 10px 0px 10px;
    width: 100px;
    text-align: center;
    display: none;
}

.icon-search {
    z-index: 1001;
}

.container-3 {
    width: 100%;
    height: 100%;
}

.service {
    text-align: center;
    font-size: 20px;
    background-color: rgb(242, 85, 112);
}

.text-color {
    font-size: 40%;
}


.service-details {
    margin-top: 20px;
}

.icon-img {
   width: 70px;
   height: auto;

}

footer{
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 85, 112);
    font-size: 50%;
}


.title-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    border-top: 1.5px solid rgb(242, 85, 112);
    border-start-end-radius: 0.75px;
}

blockquote {
    margin: 0px;
    padding: 16px;
    margin-top: 16px;
    border-left: 6px solid rgb(242, 85, 112);
    font-style: italic;
    color: #555555;
    font-size: 18px;
    width: 70%;
    text-align: center;
  }

  .tip-containerTitle {
    font-size: 14px;
    margin-bottom: 0px;
  }
  